 <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/staff-home">
                    <img src="/static/img/fav.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="js-arrow" href="/staff-home">
                                <i class="fas fa-tachometer-alt"></i>Overview</a>
                        </li>
                        <li class="has-sub">
                            <a href="/staff-sales"><i class="fas fa-chart-bar"></i>Sales</a>
                        </li>
                        <li>
                            <a class="js-arrow" href="#">
                                <i class="fas fa-table"></i>Inventory</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/staff-stock">Suppliers</a>
                                </li>
                                <li>
                                    <a href="/staff-order">Order Products</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/staff-product"><i class="fas fa-table"></i>Product Management</a>
                        </li>
                         <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Account Management</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/staff-actinfo">Account Info</a>
                                </li>
                                <li>
                                    <a href="/AccountChart">Acccount Chart</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-chart-bar"></i>Rewards</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/staff-rewards">View/Edit Rewards</a>
                                </li>
                                <li>
                                    <a href="/staff-addReward">Add Rewards</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->