<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="static/img/fav.png">
    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/linearicons.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/themify-icons.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/owl.carousel.css')}}">
     <link rel="stylesheet"
      href="{{url_for('.static', filename='css/nouislider.min.css')}}">
     <link rel="stylesheet"
      href="{{url_for('.static', filename='css/ion.rangeSlider.css')}}">
     <link rel="stylesheet"
      href="{{url_for('.static', filename='css/ion.rangeSlider.skinFlat.css')}}">
     <link rel="stylesheet"
      href="{{url_for('.static', filename='css/magnific-popup.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='css/nice-select.css')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_banner.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_blog.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_common.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_contact.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_elements.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_footer.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_header.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_home.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_mixins.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_predefine.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_product.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_reset.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/theme/_variables.scss')}}">
    <link rel="stylesheet/scss"
      href="{{url_for('.static', filename='scss/main.scss')}}">
    <link rel="stylesheet" href = "{{url_for('.static', filename = 'css/rewards_cart.css')}}">
     <link rel="stylesheet" href = "{{url_for('.static', filename = 'css/modal.css') }}">

    {% endblock %}
      <script src="https://kit.fontawesome.com/e566d96b76.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block navbar %}
        {% include 'includes/_navbar.html' %}
    {% endblock %}
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/countdown.js') }}"></script>
     <script type="text/javascript"
         src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
     <script type="text/javascript"
         src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>

    {% endblock %}

{% block script %}
    <script>
    function shipform() {
      var checkBox = document.getElementById("shippingcheck");
      var text = document.getElementById("shippingdetails");
      if (checkBox.checked == true){
        text.style.display = "block";
      } else {
         text.style.display = "none";
      }
    }
    </script>

    <script>
    function billbtn() {
      var checkBox = document.getElementById("tnc");
      var button = document.getElementById("billingbtn");
      if (checkBox.checked == true){
        button.href = "/checkoutcreditcard";
      } else {
         button.href = "";
      }
    }
    </script>

    <script>
    function billbtn2() {
      var checkBox = document.getElementById("tnc");
      var button = document.getElementById("billingbtn");
      if (checkBox.checked == false){
        button.href = "";
        alert("Please accept the terms and conditions!");

      } else {
         button.href = "/checkoutcreditcard";

      }
    }
    </script>
{% endblock %}
</body>
</html>