<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<!-- Site Title -->
{% block title %}Sports & U{% endblock %}
{% block content %}
<head>
    	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
</head>
<body>
    <section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h2>Forgot password request sent.</h2>
                </div>
            </div>
        </div>
    </section>
	<section class="login_box_area section_gap" style = 'position:relative'>
		<div class="container">
			<div>
				<div class="col-lg-6">
					<div class="login_box_img" style = 'width:1000px; margin-left:auto;,margin-right:auto;'>
						<img class="img-fluid" src="static/img/login.jpg" alt="">
						<div class="hover">
							<h4>The request to change password has been sent to your email address</h4>
							<p>Kindly check your inbox or junk mail.</p>
							<a class="primary-btn" href="http://www.gmail.com">Go to Gmail</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
{% endblock %}
