{% extends "base.html" %}
{% block title %}User Rewards{% endblock %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<head xmlns="http://www.w3.org/1999/html">
</head>
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>User Rewards</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Rewards<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">to be changed<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Redeem</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<!-- End Banner Area -->

<section class="login_box_area section_gap" >
	<div class="container" style="width:60%;">
		<div class="row" >
			<div class="col-lg-12">
				<div class="login_form_inner" style=" height:auto; padding-top:20px;">
					<div class="typography" style="text-align:left; margin-left:20px; padding-bottom:20px;">
							<h4>Your Total Reward Points: <a style="color:orange">{{ currentUser.get_points() }} points</a></h4>
					</div>
					<div class="typography" style="">
						<a href="{{ url_for('rewards') }}" class="genric-btn primary circle arrow" style="float:left; font-size:1rem; padding-left:20px;"><span class="lnr lnr-arrow-left"></span>Back</a>
						<h2 style="margin-right:100px;">Cart Summary</h2>
						<hr style="background-color:orange; border-width:10px; ">
					</div>
					{% if Length == 0 %}
					<div class="section-top-border" style="height:450px;">
						<div class="typography" style="padding-top:200px;">
							<h4>You have no reward items in cart</h4>
						</div>
					</div>
					{% endif %}

					<!-- not enough points message -->
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						{% endif %}
					{% endwith %}

					{% for reward in DisplayList %}
					<div class="section-top-border" >



						<div class="row" id = "{{ reward.get_name() }}box" >
							<div style="text-align:center;"class="col-md-3">
								<img src="static/img/RewardsPicUploads/{{ reward.get_image() }}" alt="" class="img-fluid" style="margin-left:100px; margin-top:25px;">
							</div>
							<div class="col-md-9 mt-sm-20" style="text-align:center;">
								<h5 style="text-decoration:underline;">{{ reward.get_name() }}</h5>

								<h6>Description:</h6>
								<p>{{ reward.get_Desc() }}</p>

								<h6>Points: <br> <span style="color:darkorange;">{{ reward.get_cost(currentUser) }} points</span></h6>

								<h6>Quantity: <br> <span style="color:darkorange;"> {{ RewardsCart[reward.get_name()] }}</span></h6>
								<br>
								<br>
								<div style="float:right; padding-right:30px;" class="row">
									<button id="myBtn{{ reward.get_modal_id() }}" class="genric-btn info circle" >Edit Quantity</button>
									<form action="{{url_for('RemovefromCart', item = reward.get_name())}}" method="POST">
										<button type="submit" class="genric-btn danger circle" >Remove from Cart</button>
									</form>
								</div>
							</div>
						</div>



						<!-- The Modal -->
						<div id="myModal{{ reward.get_modal_id() }}" class="modal" style="padding-top:150px; overflow:hidden;">

							<!-- Modal content -->
							<div class="modal-content" style="width:70%;">
								<span style="text-align:right;" class="close{{ reward.get_modal_id() }} close">&times;</span>
								<div class="row">
									<div class="col-md-3">
										<img src="/static/img/RewardsPicUploads/{{ reward.get_image() }}" alt="" class="img-fluid" style="margin-left:150px; margin-top:50px;">
									</div>
									<div class="col-md-9 mt-sm-20">
										<h4 class="mb-30" style = "text-decoration:underline;">{{ reward.get_name() }}</h4>
										<br>
										<br>
										<h5>Description:</h5>
										<p>{{ reward.get_Desc() }}</p>
										<h5>Points: <br> <span style="color:darkorange;">{{ reward.get_cost(currentUser) }} points </span></h5>
										<h5 style="padding-bottom:0px;">Current Quantity: <br> <span style="color:darkorange;">{{ RewardsCart[reward.get_name()] }}</span></h5>
										<form action="{{url_for('addRewardsCart', name = reward.get_name() )}}" method="POST">
											<h5 style="">New Quantity:
											</h5>
											<div style="margin-left:350px;"> {{ render_field(form.quantity) }}</div>
											<br>
											<div>
												<button type="submit" class="genric-btn primary" style="float:right; align:center; font-size:20px;">Update Quantity</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
						<hr>

						<script>

								// Get the modal
									var modal{{ reward.get_modal_id() }} = document.getElementById("myModal{{ reward.get_modal_id() }}");

									// Get the button that opens the modal
									var btn{{ reward.get_modal_id() }} = document.getElementById("myBtn{{ reward.get_modal_id() }}");

									// Get the <span> element that closes the modal
									var span{{ reward.get_modal_id() }} = document.getElementsByClassName("close{{ reward.get_modal_id() }}")[0];

									// When the user clicks the button, open the modal
									btn{{ reward.get_modal_id() }}.onclick = function() {
									  modal{{ reward.get_modal_id() }}.style.display = "block";
									}

									// When the user clicks on <span> (x), close the modal
									span{{ reward.get_modal_id() }}.onclick = function() {
									  modal{{ reward.get_modal_id() }}.style.display = "none";
									}

						</script>
						{% endfor %}
						{% if Length != 0%}
						<div class="typography" style="float:right;">
							<h5>Total: <span style="color:orange">{{ total_cost }} points</span></h5>
							<form action="{{url_for('createTransactionHistory')}}" method="POST">
								<button type="submit" class="genric-btn primary" style="right; font-size:20px;">Checkout</button>
							</form>
						</div>

						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- start footer Area -->
<footer class="footer-area section_gap">
	<div class="container" style="">
		<div class="row">
			<div class="col-lg-3  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>About Us</h6>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
						magna aliqua.
					</p>
				</div>
			</div>
			<div class="col-lg-4  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Newsletter</h6>
					<p>Stay update with our latest</p>
					<div class="" id="mc_embed_signup">

						<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							  method="get" class="form-inline">

							<div class="d-flex flex-row">

								<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									   required="" type="email">


								<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

								<!-- <div class="col-lg-4 col-md-4">
                                                <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                            </div>  -->
							</div>
							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-3  col-md-6 col-sm-6">
				<div class="single-footer-widget mail-chimp">
					<h6 class="mb-20">Instragram Feed</h6>
					<ul class="instafeed d-flex flex-wrap">
						<li><img src="static/img/i1.jpg" alt=""></li>
						<li><img src="static/img/i2.jpg" alt=""></li>
						<li><img src="static/img/i3.jpg" alt=""></li>
						<li><img src="static/img/i4.jpg" alt=""></li>
						<li><img src="static/img/i5.jpg" alt=""></li>
						<li><img src="static/img/i6.jpg" alt=""></li>
						<li><img src="static/img/i7.jpg" alt=""></li>
						<li><img src="static/img/i8.jpg" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Follow Us</h6>
					<p>Let us be social</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-dribbble"></i></a>
						<a href="#"><i class="fa fa-behance"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">

		</div>
	</div>
</footer>
<!-- End footer Area -->


{% endblock %}
